[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "==3.3.0" # cannot go to 3.4 yet because we are on spark 3.3 
logger = ">=1.4"
sparkdataframecomparer = ">=2.0.1"
Deprecated = ">=1.2.12"
numpy = ">=1.7"

[dev-packages]
setuptools=">=60.9.3"
wheel=">=0.37.1"
twine=">=3.8.0"
pre-commit=">=2.18.0"
autoflake=">=1.4"
mypy = "==0.971"
pytest = "==7.1.2"
black = ">=22.3.0"
importlib-metadata = ">=4.0.1"
py4j = "==0.10.9.5" # https://spark.apache.org/docs/latest/api/python/getting_started/install.html#dependencies
pyspark="==3.3.0"  # should match the version of spark we use for testing
pygments = ">=2.8.1" # not directly required, pinned by Snyk to avoid a vulnerability
types-Deprecated=">=0.1.2"
Sphinx="==4.1.2"
sphinx-autoapi="==1.8.4"
sphinx-rtd-theme="==0.5.2"
myst-parser="==0.15.1"
pipenv-setup = ">=3.2.0"
vistir="==0.6.1" # https://github.com/Madoshakalaka/pipenv-setup/issues/138

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
