[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">=1.19.2"
pyspark = "==3.1.1"
logger = ">=1.4"
sparkdataframecomparer = ">=0.1.68"
Deprecated = "==1.2.12"

[dev-packages]
setuptools = ">=40.8.0"
wheel = ">=0.36.2"
twine = ">=3.4.1"
pytest = ">=6.2.4"
mypy = ">=0.812,<1.000"
flake8 = ">=3.8.4"
importlib-metadata = ">=4.0.1"
pre-commit=">=2.13.0"
py4j = "==0.10.9"
pyspark="==3.1.1"  # should match the version of spark we use for testing
pygments = ">=2.8.1" # not directly required, pinned by Snyk to avoid a vulnerability
autoflake=">=1.4"
black = "==21.7b0"
types-Deprecated=">=0.1.2"
Sphinx="==4.1.2"
sphinx-autoapi="==1.8.4"
sphinx-rtd-theme="==0.5.2"
myst-parser="==0.15.1"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = false
